@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Polite Type";
  src: url("/fonts/PoliteType-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #f7532e;

  --color-black: #1d1d1b;

  --font-sans: "DM Sans", sans-serif;
  --font-alt: "Polite Type", sans-serif;

  --max-lines-3: 3;
  --max-lines-2: 2;
}

@utility container {
  margin-inline: auto;
  /* 1412 + 28 = 1440. Maximum figma width */
  max-width: 1412px;
  padding-inline: 16px;
}

@utility heading {
  letter-spacing: -0.02em;
  text-align: center;

  @apply font-alt text-4xl leading-[1.3] md:text-[43.66px];
}

@utility subheading {
  letter-spacing: -0.02em;
  text-align: center;

  @apply font-alt text-xl leading-[1.3] md:text-[26px];
}

@utility max-lines-* {
  display: -webkit-box;
  -webkit-line-clamp: --value(--max-lines-*);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 10s linear infinite;
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
