@import "tailwindcss";

@font-face {
  font-family: "Polite Type";
  src: url("/fonts/PoliteType-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #f7532e;

  --font-sans: "DM Sans", sans-serif;
  --font-alt: "Polite Type", sans-serif;
}

@utility container {
  margin-inline: auto;
  /* 1412 + 28 = 1440. Maximum figma width */
  max-width: 1412px;
  padding-inline: 28px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 10s linear infinite;
}
