---
import MainLayout from "../layouts/MainLayout.astro";
import TopWaves from "../assets/top-waves-mobile.svg";
import BottomWaves from "../assets/bottom-waves.svg";
import Pathways from "../assets/pathways.svg";
import KminoText from "../assets/kmino-text.svg";
import ProjectsBg from "../assets/project-bg.svg";
import Stamp from "../assets/stamp.svg";
import Navbar from "../components/Navbar.astro";
import { HeroLine } from "~/home/HeroLine";
import { HeroLineMobile } from "~/home/HeroLineMobile";
import CTA from "../components/CTA.astro";
import { WhatWeDoLinesMobile } from "~/home/WhatWeDoLinesMobile";
import { WhatWeDoSlider } from "~/home/WhatWeDoSlider";
import { HowWeWorkSlider } from "~/home/HowWeWorkSlider";
import { Testimonials } from "~/home/Testimonials";
import { ProjectsSliderMobile } from "~/home/ProjectsSliderMobile";
import { Icon } from "astro-icon/components";
import { WhatWeDoLines } from "../home/WhatWeDoLines";
import { WhyKminoLine } from "~/home/WhyKminoLine";
import { ProjectsAccordion } from "../home/ProjectsAccordion";
import { FadeIn } from "~/components/FadeIn";
---

<MainLayout head={{ title: "Kmino" }}>
  <section class="relative overflow-hidden xl:min-h-[747px]">
    <div class="bg-primary relative">
      <div class="relative z-10 container">
        <div
          class="mx-auto flex max-w-[1080px] flex-col gap-[120px] md:gap-[130px]"
        >
          <Navbar />

          <div class="relative space-y-11 pb-4 md:space-y-6">
            <Stamp
              class="rotating absolute -top-9 -left-6 h-16 w-16 text-white md:-top-[60px] md:-left-9 md:h-[89px] md:w-[89px]"
            />

            <h1
              class="font-alt text-[46px] leading-[130%] tracking-[-0.02em] text-white md:text-[68px]"
            >
              Velocity <br /> without <br /> compromise.
            </h1>

            <p class="max-w-xl text-xl text-white">
              High-performance, distributed squads with AI-accelerated delivery
              and product advisory. Scoped plan in 48 hours. <br /><br />You own
              the IP, repos, and infra. Every merge passes human review, tests,
              and security checks.
            </p>

            <CTA href="https://google.com"> Book a discovery call </CTA>
          </div>
        </div>

        <div class="absolute right-9 -bottom-[60px] z-10 hidden md:block">
          <KminoText />
          <KminoText />
        </div>
      </div>

      <HeroLine client:media="(min-width: 768px)" />
      <HeroLineMobile client:media="(max-width: 768px)" />
    </div>

    <BottomWaves class="-mt-1 h-auto lg:h-[172px]" />
  </section>

  <section
    class="relative container overflow-hidden pt-[120px] pb-[100px] lg:mb-[200px]"
    id="what-we-do"
  >
    <WhatWeDoLinesMobile client:media="(max-width: 768px)" />

    <div class="relative z-10 mb-11 flex flex-col gap-6">
      <h1 class="heading">What we Do</h1>
      <p class="subheading text-primary mx-auto max-w-[341px]">
        We help product leaders and founders move faster with:
      </p>
    </div>

    <WhatWeDoLines client:media="(min-width: 1414px)" />

    <WhatWeDoSlider client:media="(max-width: 1414px)" />

    <div
      class="relative mx-auto mt-[79px] flex min-h-[856px] max-w-[1080px] justify-between text-[22px] tracking-tight max-[1414px]:hidden"
    >
      <Stamp class="text-primary rotating absolute -top-12 -right-10 z-10" />
      <div class="flex flex-col justify-between">
        <div
          class="flex min-h-[347px] max-w-[349px] flex-col justify-center gap-4 bg-black px-[26px] text-white"
        >
          <p class="font-semibold">Fullstack Web & Mobile Development</p>
          <p>
            TypeScript/Node, React/React Native, modern APIs. Predictable
            delivery, clean architecture, clear docs.
          </p>
        </div>

        <div
          class="flex min-h-[347px] max-w-[349px] flex-col justify-center gap-4 bg-black px-[26px] text-white"
        >
          <p class="font-semibold">Staff Augmentation</p>
          <p>
            Embedded engineers who ship from week one. Outcome: immediate
            velocity without micromanagement.
          </p>
        </div>
      </div>

      <div class="flex items-center">
        <div
          class="bg-primary flex min-h-[347px] max-w-[382px] flex-col justify-center gap-4 border border-black px-[26px] text-white"
        >
          <p class="font-semibold">Web3 & Smart Contract Development</p>
          <p>
            Auditable contracts, gas‑aware design, test‑first workflows.
            Security and upgrade paths you can trust.
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-between">
        <div
          class="flex min-h-[347px] max-w-[349px] flex-col justify-center gap-4 bg-black px-[26px] text-white"
        >
          <p class="font-semibold">Product & Delivery Advisory</p>
          <p>
            Beyond tech. We help you refine your product vision, sharpen your
            positioning, craft a compelling brand, and even connect with
            investors: everything you need to build with purpose and raise with
            confidence.
          </p>
        </div>

        <div
          class="flex min-h-[347px] max-w-[349px] flex-col justify-center gap-4 bg-black px-[26px] text-white"
        >
          <p class="font-semibold">AI development</p>
          <p>
            Custom LLMs, RAG systems, intelligent automation. Outcome: AI that
            actually works in production, not just demos.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="relative flex flex-col items-end overflow-hidden py-24">
    <WhyKminoLine client:media="(min-width: 1024px)" />

    <div class="container flex max-w-[1000px] lg:justify-end">
      <div class="w-fit space-y-11 lg:max-w-[381px]">
        <h1 class="heading text-left">Why Kmino?</h1>

        <div
          class="flex flex-col gap-4 text-xl tracking-tight lg:gap-8 lg:text-[26px]"
        >
          <p>
            <strong>Elite Tech Teams, AI-Accelerated</strong><br />Small,
            high-performance squads that integrate fast, ship reliably, and stay
            aligned to your goals.
          </p>
          <p>
            <strong>Built-In Excellence</strong><br />Playbooks, mentorship, and
            weekly training are baked into every sprint.
          </p>
          <p>
            <strong>Own Everything</strong><br />Your code, your infra—clean
            docs and smooth handovers guaranteed.
          </p>
          <p>If you want dependable, maintainable velocity—we should talk.</p>
        </div>
      </div>
    </div>

    <Stamp class="text-primary rotating ml-auto lg:hidden" />
  </section>

  <section class="container mt-[70px] mb-[120px] overflow-hidden lg:mt-[200px]">
    <div class="relative mb-11 md:mb-[100px]">
      <h1 class="heading text-left">How we Work</h1>
      <p class="subheading text-primary max-w-[341px] text-left">
        Our Process. Your Advantage.
      </p>

      <Stamp
        class="text-primary rotating absolute top-0 right-0 hidden lg:block"
      />
    </div>

    <HowWeWorkSlider client:visible={{ rootMargin: "300px" }} />
  </section>

  <!-- <section
    class="container my-[100px] flex flex-col items-center lg:my-[200px]"
  >
    <Testimonials client:visible={{ rootMargin: "200px" }} />
  </section> -->

  <section
    class="sticky -top-[400px] z-10 container my-[60px] overflow-hidden py-[100px] lg:-top-24"
  >
    <FadeIn
      client:visible
      delay={0.3}
      className="flex w-full flex-col items-center lg:items-start"
    >
      <h1 class="heading mb-6 text-left">Trusted by Innovators Worldwide</h1>

      <p class="subheading text-primary mb-6 text-left lg:mb-14">
        We’ve helped startups and protocols scale their products, faster
      </p>

      <ProjectsSliderMobile client:media="(max-width: 1079px)" />

      <ProjectsAccordion client:media="(min-width: 1080px)" />

      <ProjectsBg class="absolute -top-3 -z-10 lg:hidden" />
    </FadeIn>
  </section>

  <TopWaves class="relative z-20" />

  <section
    class="bg-primary relative z-20 -mt-1 pb-32 text-[26px] text-white lg:text-[34px]"
  >
    <Stamp class="rotating absolute right-12 text-black" />

    <div class="relative container max-w-[942px] pt-[100px]">
      <h1 class="heading relative z-10 mb-[73px] text-left lg:mb-[68px]">
        About Us
      </h1>

      <FadeIn client:visible>
        <div class="flex flex-col gap-8 tracking-tighter">
          <p>
            We’ve been building software for close to a decade now. Writing
            code, yes, but also learning how teams succeed, and how they fail.
          </p>

          <p>
            After years working in different dev houses and big corporate, we
            saw the same patterns repeat: rushed delivery, poor communication,
            and tech decisions disconnected from the real business goals.
          </p>

          <p>Eventually, we decided we could do better.</p>

          <p>
            Lately, we’ve seen AI get thrown into dev pipelines without a plan,
            promising the world, and delivering technical debt instead.
          </p>

          <p>
            But we’ve also seen how much better things go when there’s clear
            thinking, real care, and actual ownership. If used right, AI can
            power up all of this, instead of getting in the way.
          </p>

          <p>
            That’s why we started Kmino. To build better paths, and help you do
            the same.
          </p>
        </div>
      </FadeIn>
    </div>
  </section>

  <footer class="relative z-20 overflow-hidden bg-white">
    <div
      class="relative z-10 mt-[66px] mb-[66px] flex flex-col items-center bg-black py-12 text-center text-white"
    >
      <h2
        class="font-alt text-primary mb-6 text-[22px] tracking-tight lg:text-[81px]"
      >
        Ready to upgrade your velocity?
      </h2>
      <p class="mx-auto mb-6 max-w-[600px] px-4 text-white lg:text-lg">
        Book a 30‑min fit call. We’ll review goals, identify risks, and return a
        scoped plan in 48 hours
      </p>
      <CTA href="https://google.com" color="inverted">
        Book a discovery call
      </CTA>
    </div>

    <Pathways
      class="absolute -top-[432px] -left-[343px] w-[1440px] lg:-top-[400px] lg:left-0 lg:w-full"
    />

    <div class="relative z-10 flex flex-col items-center py-10">
      <a
        href="mailto:contact@kmino.io"
        class="mb-6 text-sm font-medium text-black/80"
      >
        contact@kmino.io
      </a>

      <div class="mb-6 flex gap-6">
        <a
          href="https://github.com/Kmino-io"
          aria-label="GitHub"
          class="bg-primary/20 text-primary flex items-center rounded-sm border p-2 transition hover:opacity-80"
          target="_blank"
        >
          <Icon name="ri:github-fill" size={19} />
        </a>

        <a
          href="https://www.linkedin.com/company/kminotech/"
          aria-label="LinkedIn"
          target="_blank"
          class="bg-primary/20 text-primary flex items-center rounded-sm border p-2 transition hover:opacity-80"
        >
          <Icon name="ri:linkedin-fill" size={19} />
        </a>
      </div>
      <div class="text-center text-sm text-black/80">
        ©KMINO 2025, All rights reserved.
      </div>
    </div>
  </footer>
</MainLayout>
