---
import MainLayout from "../layouts/MainLayout.astro";
import TopWaves from "../assets/top-waves-mobile.svg";
import BottomWaves from "../assets/bottom-waves.svg";
import Pathways from "../assets/pathways.svg";
import KminoText from "../assets/kmino-text.svg";
import ProjectsBg from "../assets/project-bg.svg";
import Stamp from "../assets/stamp.svg";
import Navbar from "../components/Navbar.astro";
import { HeroLine } from "~/home/HeroLine";
import CTA from "../components/CTA.astro";
import { WhatWeDoLinesMobile } from "~/home/WhatWeDoLinesMobile";
import { WhatWeDoSlider } from "~/home/WhatWeDoSlider";
import { HowWeWorkSlider } from "~/home/HowWeWorkSlider";
import { Testimonials } from "~/home/Testimonials";
import { ProjectsSliderMobile } from "~/home/ProjectsSliderMobile";
import { Icon } from "astro-icon/components";
import { WhatWeDoLines } from "../home/WhatWeDoLines";
import { WhyKminoLine } from "~/home/WhyKminoLine";
---

<MainLayout head={{ title: "Kmino" }}>
  <section class="bg-primary relative xl:min-h-[747px]">
    <div class="relative z-10 container">
      <div
        class="mx-auto flex max-w-[1080px] flex-col gap-[120px] md:gap-[130px]"
      >
        <Navbar />

        <div class="relative space-y-11 pb-4 md:space-y-9">
          <Stamp
            class="rotating absolute -top-9 -left-6 h-16 w-16 text-white md:-top-[60px] md:-left-9 md:h-[89px] md:w-[89px]"
          />

          <h1
            class="font-alt text-[46px] leading-[130%] tracking-[-0.02em] text-white md:text-[68px]"
          >
            Build with <br />confidence. <br />Scale with <br />strategy.
          </h1>

          <CTA href="https://google.com"> Book a discovery call </CTA>
        </div>
      </div>

      <div class="absolute right-9 -bottom-[60px] z-10 hidden md:block">
        <KminoText />
        <KminoText />
      </div>
    </div>

    <HeroLine client:load />
  </section>

  <BottomWaves class="-mt-1 h-auto lg:h-[172px]" />

  <WhatWeDoLinesMobile client:media="(max-width: 768px)" />

  <section
    class="relative container mt-[120px] mb-[100px] lg:mb-[200px]"
    id="what-we-do"
  >
    <div class="relative z-10 mb-11 flex flex-col gap-6">
      <h1 class="heading">What we Do</h1>
      <p class="subheading text-primary mx-auto max-w-[341px]">
        We help product leaders and founders move faster with:
      </p>
    </div>

    <WhatWeDoLines client:media="(min-width: 1414px)" />

    <div
      class="relative mx-auto mt-[79px] flex min-h-[856px] max-w-[1080px] justify-between text-[22px] tracking-tight max-[1414px]:hidden"
    >
      <Stamp class="text-primary rotating absolute -top-12 -right-10 z-10" />
      <div class="flex flex-col justify-between">
        <div
          class="flex min-h-[347px] max-w-[349px] flex-col justify-center gap-4 bg-black px-[26px] text-white"
        >
          <p class="font-semibold">Business Advisory</p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Quis id tincidunt amet sed.
            A nunc sollicitudin ultrices mollis.
          </p>
        </div>

        <div
          class="flex min-h-[347px] max-w-[349px] flex-col justify-center gap-4 bg-black px-[26px] text-white"
        >
          <p class="font-semibold">Infrastructure and DevOps</p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Quis id tincidunt amet sed.
            A nunc sollicitudin ultrices mollis.
          </p>
        </div>
      </div>

      <div class="flex items-center">
        <div
          class="bg-primary flex min-h-[347px] max-w-[382px] flex-col justify-center gap-4 border border-black px-[26px] text-white"
        >
          <p class="font-semibold">Web3 & Smart Contract Development</p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Quis id tincidunt amet sed.
            A nunc sollicitudin ultrices mollis.
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-between">
        <div
          class="flex min-h-[347px] max-w-[349px] flex-col justify-center gap-4 bg-black px-[26px] text-white"
        >
          <p class="font-semibold">Fullstack Web & Mobile Development</p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Quis id tincidunt amet sed.
            A nunc sollicitudin ultrices mollis.
          </p>
        </div>

        <div
          class="flex min-h-[347px] max-w-[349px] flex-col justify-center gap-4 bg-black px-[26px] text-white"
        >
          <p class="font-semibold">Staff Augmentation</p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Quis id tincidunt amet sed.
            A nunc sollicitudin ultrices mollis.
          </p>
        </div>
      </div>
    </div>

    <WhatWeDoSlider client:media="(max-width: 1414px)" />
  </section>

  <section class="relative flex flex-col items-end">
    <WhyKminoLine client:media="(min-width: 1024px)" />

    <div class="container flex max-w-[1000px] lg:justify-end">
      <div class="w-fit space-y-11 lg:max-w-[381px]">
        <h1 class="heading text-left">Why Kmino?</h1>

        <div
          class="flex flex-col gap-4 text-xl tracking-tight lg:gap-8 lg:text-[26px]"
        >
          <p>We bring world-class tech talent with senior-level experience.</p>
          <p>
            <strong>High Skill, Competitive Rates:</strong> Scale efficiently without
            sacrificing quality
          </p>
          <p>
            <strong>Seamless Integration:</strong> Your goals become our mission
          </p>
        </div>
      </div>
    </div>

    <Stamp class="text-primary rotating ml-auto lg:hidden" />
  </section>

  <section class="container mt-[100px] mb-[120px] lg:mt-[200px]">
    <div class="relative mb-11 md:mb-[100px]">
      <h1 class="heading text-left">How we Work</h1>
      <p class="subheading text-primary max-w-[341px] text-left">
        Our Process. Your Advantage.
      </p>

      <Stamp
        class="text-primary rotating absolute top-0 right-0 hidden lg:block"
      />
    </div>

    <HowWeWorkSlider client:visible={{ rootMargin: "200px" }} />
  </section>

  <section
    class="container my-[100px] flex flex-col items-center lg:my-[200px]"
  >
    <Testimonials client:visible={{ rootMargin: "200px" }} />
  </section>

  <section
    class="relative container my-[60px] flex flex-col items-center py-[100px]"
  >
    <h1 class="heading mb-6 text-left">Trusted by Innovators Worldwide</h1>

    <p class="subheading text-primary mb-6 text-left">
      We’ve helped startups and protocols scale their products, faster
    </p>

    <ProjectsSliderMobile client:idle />

    <ProjectsBg class="absolute -top-3 -z-10 lg:hidden" />
  </section>

  <TopWaves />

  <section class="bg-primary -mt-1 pb-32 text-[26px] text-white">
    <Stamp class="rotating absolute right-12 text-black" />

    <div class="container pt-[100px]">
      <h1 class="heading mb-[73px] text-left">About Us</h1>

      <div class="flex flex-col gap-8">
        <p>
          We’re a team of brazilian senior engineers and product thinkers who
          don’t just ship — we partner.
        </p>

        <p>
          We combine deep technical expertise with business-driven strategy to
          help startups and scale-ups build faster, smarter, and with purpose.
        </p>

        <p>
          Our focus is on long-term relationships, clear communication, and real
          ownership — because true impact comes from teams that care.
        </p>
      </div>
    </div>
  </section>

  <footer class="relative overflow-hidden bg-white">
    <div
      class="relative z-10 mt-[66px] mb-[66px] flex flex-col items-center bg-black py-12 text-center text-white"
    >
      <h2 class="font-alt text-primary mb-6 text-[22px] tracking-tight">
        Ready to build something exceptional?
      </h2>

      <CTA href="https://google.com" color="inverted">
        Book a discovery call
      </CTA>
    </div>

    <Pathways
      class="absolute -top-[432px] -left-[343px] w-[1440px] lg:-top-[400px] lg:left-0 lg:w-full"
    />

    <div class="relative z-10 flex flex-col items-center py-10">
      <a
        href="mailto:contact@kmino.dev"
        class="mb-6 text-sm font-medium text-black/80"
      >
        contact@kmino.dev
      </a>

      <div class="mb-6 flex gap-6">
        <a
          href="https://x.com"
          aria-label="X"
          class="bg-primary/20 text-primary flex items-center rounded-sm border p-2 transition hover:opacity-80"
        >
          <Icon name="ri:twitter-x-fill" size={19} />
        </a>

        <a
          href="https://github.com/Kmino-io"
          aria-label="X"
          class="bg-primary/20 text-primary flex items-center rounded-sm border p-2 transition hover:opacity-80"
        >
          <Icon name="ri:github-fill" size={19} />
        </a>

        <a
          href="https://www.linkedin.com/company/kminotech/"
          aria-label="
          X"
          class="bg-primary/20 text-primary flex items-center rounded-sm border p-2 transition hover:opacity-80"
        >
          <Icon name="ri:linkedin-fill" size={19} />
        </a>
      </div>
      <div class="text-center text-sm text-black/80">
        ©KMINO 2025, All rights reserved.
        <a href="/terms" class="ml-1 underline">Terms of Service.</a>
      </div>
    </div>
  </footer>
</MainLayout>
