---
import MainLayout from "../layouts/MainLayout.astro";
import BottomWaves from "../assets/bottom-waves.svg";
import KminoText from "../assets/kmino-text.svg";
import Stamp from "../assets/stamp.svg";
import Navbar from "../components/Navbar.astro";
import { HeroLine } from "~/components/HeroLine";
import CTA from "../components/CTA.astro";
import { WhatWeDoLinesMobile } from "~/components/WhatWeDoLinesMobile";
import { WhatWeDoSlider } from "~/components/WhatWeDoSlider";
import { HowWeWorkSlider } from "~/components/HowWeWorkSlider";
---

<MainLayout head={{ title: "Kmino" }}>
  <section class="bg-primary relative xl:min-h-[747px]">
    <div class="relative z-10 container">
      <div
        class="mx-auto flex max-w-[1080px] flex-col gap-[120px] md:gap-[130px]"
      >
        <Navbar />

        <div class="relative space-y-11 pb-4 md:space-y-9">
          <Stamp
            class="rotating absolute -top-6 -left-6 h-16 w-16 text-white md:-top-[60px] md:-left-9 md:h-[89px] md:w-[89px]"
          />

          <h1
            class="font-alt text-[46px] leading-[130%] tracking-[-0.02em] text-white md:text-[68px]"
          >
            Build with <br />confidence. <br />Scale with <br />strategy.
          </h1>

          <CTA href="https://google.com"> Book a discovery call </CTA>
        </div>
      </div>

      <div class="absolute right-9 -bottom-[60px] z-10 hidden md:block">
        <KminoText />
        <KminoText />
      </div>
    </div>

    <HeroLine client:load />
  </section>

  <BottomWaves class="-mt-1 h-auto lg:h-[172px]" />

  <WhatWeDoLinesMobile client:media="(max-width: 768px)" />

  <section class="relative container mt-[120px] mb-[100px]" id="what-we-do">
    <div class="relative z-10 mb-11 flex flex-col gap-6">
      <h1 class="heading">What we Do</h1>
      <p class="subheading text-primary mx-auto max-w-[341px]">
        We help product leaders and founders move faster with:
      </p>
    </div>

    <WhatWeDoSlider client:idle />
  </section>

  <section class="container flex flex-col gap-11">
    <h1 class="heading text-left">Why Kmino?</h1>

    <div class="flex flex-col gap-4 text-xl">
      <p>We bring world-class tech talent with senior-level experience.</p>
      <p>
        <strong>High Skill, Competitive Rates:</strong> Scale efficiently without
        sacrificing quality
      </p>
      <p>
        <strong>Seamless Integration:</strong> Your goals become our mission
      </p>
    </div>

    <Stamp class="text-primary rotating ml-auto" />
  </section>

  <section class="container mt-[100px] mb-[120px]">
    <div class="mb-11 md:mb-[100px]">
      <h1 class="heading text-left">How we Work</h1>
      <p class="subheading text-primary max-w-[341px] text-left">
        Our Process. Your Advantage.
      </p>
    </div>

    <HowWeWorkSlider client:visible={{ rootMargin: "200px" }} />
  </section>
</MainLayout>
