---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import CTA from "../components/CTA";
import Stamp from "../assets/stamp.svg";
import { HeroLine } from "~/home/HeroLine";
import { HeroLineMobile } from "~/home/HeroLineMobile";
import BottomWaves from "../assets/bottom-waves.svg";
import KminoText from "../assets/kmino-text.svg";
import { AnimatedDivider } from "~/components/AnimatedDivider";
import { ClientsSlider } from "../mvp/ClientsSlider";
import Footer from "../components/Footer.astro";
import { MVPFAQ } from "~/mvp/MVPFAQ";
import { Pricing } from "~/mvp/Pricing";
import { Icon } from "astro-icon/components";
---

<MainLayout head={{ title: "Kmino" }}>
  <section class="relative overflow-hidden xl:min-h-[747px]">
    <div class="bg-primary relative">
      <div class="relative z-10 container">
        <div
          class="mx-auto flex max-w-[1080px] flex-col gap-[120px] md:gap-[130px]"
        >
          <div class="-mx-4 md:mx-0">
            <Navbar />
          </div>

          <div class="relative space-y-11 pb-4 md:space-y-6">
            <Stamp
              class="rotating absolute right-0 h-[89px] w-[89px] text-white"
              aria-hidden="true"
            />

            <h1
              class="font-alt text-[46px] leading-[130%] tracking-[-0.02em] text-white md:text-[68px]"
            >
              Get your MVP — <br />
              Fast, clear, fixed priced
            </h1>

            <p class="max-w-xl text-xl text-white">
              From idea to live MVP in 4 weeks — fixed price, zero
              <br />
              surprises
            </p>

            <nav
              aria-label="primary actions"
              class="flex flex-wrap gap-4 md:gap-6"
            >
              <CTA href="https://calendar.app.google/bptKpG7DXXLZve3r5">
                Book your free call
              </CTA>

              <CTA href="#offer" self color="outline">
                See what's included
              </CTA>
            </nav>

            <div class="mb-6 flex gap-4">
              <a
                href="https://github.com/Kmino-io"
                aria-label="GitHub"
                class="bg-primary/20 flex items-center rounded-full border p-2 text-white transition hover:opacity-80"
                target="_blank"
              >
                <Icon name="ri:github-fill" size={19} />
              </a>

              <a
                href="https://www.linkedin.com/company/kminotech/"
                aria-label="LinkedIn"
                target="_blank"
                class="bg-primary/20 flex items-center rounded-full border p-2 text-white transition hover:opacity-80"
              >
                <Icon name="ri:linkedin-fill" size={19} />
              </a>
            </div>
          </div>
        </div>

        <div
          class="absolute right-9 -bottom-[120px] z-10 hidden md:block"
          aria-hidden="true"
        >
          <KminoText />
          <KminoText />
        </div>
      </div>

      <HeroLine client:media="(min-width: 768px)" className="bottom-[250px]" />
      <HeroLineMobile client:media="(max-width: 768px)" />
    </div>

    <BottomWaves class="-mt-1 h-auto lg:h-[172px]" aria-hidden="true" />
  </section>

  <section id="offer" class="my-[100px] flex flex-col items-center px-4">
    <div class="relative z-10 mb-11 flex flex-col gap-6">
      <h2 class="heading">Your Startup Launchpad</h2>
      <p class="subheading mx-auto">
        Choose the package that gets your idea to market in weeks—not months.
      </p>
    </div>

    <Pricing client:load />

    <CTA href="https://calendar.app.google/bptKpG7DXXLZve3r5" color="inverted">
      Start my MVP
    </CTA>
  </section>

  <AnimatedDivider client:media="(min-width: 768px)" />

  <section class="container my-[100px] flex max-w-[1080px] flex-col gap-8">
    <h2 class="heading text-left">
      Needing something bigger <br /> or more complex?
    </h2>
    <p class="max-w-[452px]">
      Kmino can help you scale from the MVP to a live product. Book a call to
      understand our customized solutions for your business.
    </p>
    <CTA href="https://calendar.app.google/bptKpG7DXXLZve3r5" color="inverted">
      Schedule a custom call
    </CTA>
  </section>

  <section
    class="bg-primary space-y-[68px] py-[100px] text-white lg:py-[180px]"
  >
    <h2 class="heading px-4">Join Companies building faster with Kmino</h2>
    <ClientsSlider client:visible />
  </section>

  <MVPFAQ client:visible />

  <Footer description="">
    <div
      slot="children"
      class="flex w-full flex-col items-center justify-center px-4 md:gap-11 lg:flex-row"
    >
      <h2
        class="font-alt text-primary mb-6 text-left text-[22px] tracking-tight md:text-[65px] lg:max-w-[508px] xl:text-[81px]"
      >
        Ready to launch <br class="hidden lg:block" /> faster?
      </h2>

      <form class="w-full max-w-[530px] space-y-6">
        <label class="flex flex-col items-start gap-2">
          <span class="text-lg">Label</span>
          <input
            id="name"
            name="name"
            type="text"
            class="w-full rounded-lg border-[1px] border-white/30 p-3 shadow-sm outline-none md:p-4"
            placeholder="Placeholder"
          />
        </label>

        <label class="flex flex-col items-start gap-2">
          <span class="text-lg">Label</span>
          <input
            type="email"
            id="email"
            name="email"
            class="w-full rounded-lg border-[1px] border-white/30 p-3 shadow-sm outline-none md:p-4"
            placeholder="Placeholder"
          />
        </label>

        <label class="flex flex-col items-start gap-2">
          <span class="text-lg">Label</span>
          <input
            type="text"
            id="company"
            name="company"
            class="w-full rounded-lg border-[1px] border-white/30 p-3 shadow-sm outline-none md:p-4"
            placeholder="Placeholder"
          />
        </label>

        <CTA
          href="https://calendar.app.google/bptKpG7DXXLZve3r5"
          color="inverted"
        >
          Start my MVP
        </CTA>
      </form>
    </div>
  </Footer>
</MainLayout>
