---
import { ArrowRight } from "iconsax-reactjs";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="group relative flex w-fit items-center gap-3 rounded-full bg-white p-1 pe-3 text-black transition-colors duration-300 hover:text-white"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <span
    class="bg-primary after:bg-primary rounded-full p-2 after:absolute after:top-1/2 after:left-3 after:z-10 after:h-[32px] after:w-0 after:-translate-y-1/2 after:rounded-full after:transition-all after:duration-300 after:content-[''] group-hover:after:w-[calc(100%-16px)]"
  >
    <ArrowRight size={16} className="relative z-50" />
  </span>

  <div class="z-20 transition-all duration-300">
    <slot />
  </div>
</a>
