---
import Logo from "~/assets/logo.svg";
import CTA from "./CTA.astro";
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('a[href^="/#"]').forEach((link) => {
      link.addEventListener("click", function (e) {
        const hash = this.getAttribute("href").replace("/#", "");
        const target = document.getElementById(hash);
        if (target) {
          e.preventDefault();
          target.scrollIntoView({ behavior: "smooth" });
          // Optionally update the hash in the URL
          history.replaceState(null, null, `/#${hash}`);
        }
      });
    });
  });
</script>

<nav
  class="flex items-center justify-between py-4 text-white md:min-h-[80px] md:py-8"
>
  <div>
    <a href="/#">
      <Logo />
    </a>
  </div>

  <div class="hidden gap-[42px] lg:flex">
    <a href="/#what-we-do">What We Do</a>
    <a href="/#how-we-work">How We Work</a>
    <a href="/#projects">Projects</a>
    <a href="/#about-us">About Us</a>
  </div>

  <div>
    <CTA href="https://t.me/m/9XViCz7NM2Y5">Talk to Our Team</CTA>
  </div>
</nav>
