---
import Logo from "~/assets/logo.svg";
import CTA from "./CTA.astro";
---

<nav
  class="flex items-center justify-between py-4 text-white md:min-h-[80px] md:py-8"
>
  <div>
    <a href="/#">
      <Logo />
    </a>
  </div>

  <div class="hidden gap-[42px] lg:flex">
    <a href="/#what-we-do">What We Do</a>
    <a href="/#how-we-work">How We Work</a>
    <a href="/#projects">Projects</a>
    <a href="/#projects">About Us</a>
  </div>

  <div>
    <CTA href="https://google.com">Talk to Our Team</CTA>
  </div>
</nav>
