---

---

<nav class="flex min-h-[80px] justify-between py-8 text-white">
  <div>kmino</div>

  <div class="flex gap-[42px]">
    <a href="/#what-we-do">What We Do</a>
    <a href="/#how-we-work">How We Work</a>
    <a href="/#projects">Projects</a>
    <a href="/#projects">About Us</a>
  </div>

  <div>
    <a> Talk to our team </a>
  </div>
</nav>
