---
import "~/styles/global.css";
import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/500.css";
import "@fontsource/dm-sans/600.css";
import "@fontsource/dm-sans/700.css";

import Head, { type HeadProps } from "~/components/Head.astro";
import CTA from "~/components/CTA";
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";

interface Props {
  head: HeadProps;
}

const { head } = Astro.props;

const currentURL = Astro.url;
---

<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-LR0FTNP6RF"></script>

<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-LR0FTNP6RF");
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P7KMXHHS");
    </script>
    <Head {...head} />
  </head>
  <body class="relative">
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P7KMXHHS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>

    <main class="relative">
      <slot />
    </main>

    <div id="mobile-menu-overlay">
      <div class="mobile-menu-panel bg-primary rounded-s-lg px-6 py-10">
        <div>
          <CTA
            href="https://calendar.app.google/bptKpG7DXXLZve3r5"
            color="default"
          >
            Talk to Our Team
          </CTA>
        </div>

        {
          currentURL.pathname === "/" ||
          currentURL.pathname.startsWith("/blog") ? (
            <div class="flex w-full flex-col items-center gap-4">
              <a
                href="/"
                class={twMerge(
                  "w-full rounded-full py-2 text-center text-white",
                  currentURL.pathname === "/" && "bg-white text-black",
                )}
              >
                Home
              </a>

              <a
                href="/#about-us"
                class="w-full rounded-full py-2 text-center text-white"
              >
                About Us
              </a>

              <a
                href="/#how-we-work"
                class="w-full rounded-full py-2 text-center text-white"
              >
                How We Work
              </a>

              <a
                href="/#projects"
                class="w-full rounded-full py-2 text-center text-white"
              >
                Projects
              </a>

              <a
                href="/blog"
                class={twMerge(
                  "w-full rounded-full py-2 text-center text-white",
                  currentURL.pathname.includes("/blog") &&
                    "bg-white text-black",
                )}
              >
                Blog
              </a>
            </div>
          ) : (
            <div class="flex w-full flex-col items-center gap-4">
              <a
                href={`${currentURL.pathname}/#offer`}
                class={twMerge(
                  "w-full rounded-full py-2 text-center text-white",
                  currentURL.pathname === "/" && "bg-white text-black",
                )}
              >
                Services
              </a>

              <a
                href={`${currentURL.pathname}/#projects`}
                class="w-full rounded-full py-2 text-center text-white"
              >
                Clients
              </a>

              <a
                href={`${currentURL.pathname}/#faq`}
                class="w-full rounded-full py-2 text-center text-white"
              >
                FAQ
              </a>
            </div>
          )
        }

        <div class="mb-6 flex gap-6">
          <a
            href="https://github.com/Kmino-io"
            aria-label="GitHub"
            class="flex items-center rounded-full border bg-white/30 p-2 text-white transition hover:opacity-80"
            target="_blank"
          >
            <Icon name="ri:github-fill" size={19} />
          </a>

          <a
            href="https://www.linkedin.com/company/kminotech/"
            aria-label="LinkedIn"
            target="_blank"
            class="flex items-center rounded-full border bg-white/30 p-2 text-white transition hover:opacity-80"
          >
            <Icon name="ri:linkedin-fill" size={19} />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
