---
import "~/styles/global.css";
import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/600.css";
import "@fontsource/dm-sans/700.css";

import Head, { type HeadProps } from "~/components/Head.astro";

interface Props {
  head: HeadProps;
}

const { head } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Head {...head} />
  </head>
  <body>
    <main class="relative">
      <slot />
    </main>
  </body>
</html>
